@model IEnumerable<TourismProject.Models.Feedback>

@{
    ViewBag.Title = "Feedbacks";
}

<h2 class="text-center mb-4">Feedbacks</h2>

<p class="text-end mb-3">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>Tourist Name</th>
            <th>Package Title</th>
            <th>Rating</th>
            <th>Comment</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Tourist.FullName</td>
                <td>@item.TourPackage.Title</td>
                <td>@item.Rating</td>
                <td>@item.Comment</td>
                <td>@item.SubmittedDate.ToShortDateString()</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FeedbackId }, new { @class = "btn btn-sm btn-warning me-1" })
                    @Html.ActionLink("Details", "Details", new { id = item.FeedbackId }, new { @class = "btn btn-sm btn-info me-1" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.FeedbackId }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
