@model TourismProject.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title your account details</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <section class="vh-70">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-12 col-xl-4">

                        <div class="card; shadow-lg p-3 mb-5 bg-white rounded" style="border-radius: 15px;">
                            <div class="card-body text-center">
                                <div class="mt-3 mb-4">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                         class="rounded-circle img-fluid" style="width: 100px;" />
                                </div>
                                @{
                                    var username = User.Identity.Name.Split('@')[0];
                                }
                                <h4 class="mb-2">Welcome! @username</h4>

                                <div class="mb-4 pb-2">
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-floating">
                                        <i class="fab fa-facebook-f fa-lg"></i>
                                    </button>
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-floating">
                                        <i class="fab fa-twitter fa-lg"></i>
                                    </button>
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-floating">
                                        <i class="fab fa-youtube fa-lg"></i>
                                    </button>
                                </div>
                                <dt>Password:</dt>
                                <dd>
                                    [
                                    @if (Model.HasPassword)
                                    {
                                        @Html.ActionLink("Change your password", "ChangePassword")
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Create", "SetPassword")
                                    }
                                    ]
                                </dd>
                                <dt>External Logins:</dt>
                                <dd>
                                    @Model.Logins.Count [
                                    @Html.ActionLink("Manage", "ManageLogins") ]
                                </dd>
                                <dt>Activate two-factor Authentication:</dt>
                                <dd>
                                    See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                </dd>
                                <div class="d-flex justify-content-between text-center mt-5 mb-2">
                                    <div>
                                        @Html.ActionLink("Manage my Bookings", "Index", "Bookings", null, new { @class = "btn btn-dark" })
                                    </div>
                                    <div class="px-3">
                                        @Html.ActionLink("Write a Feedback", "Index", "Feedbacks", null, new { @class = "btn btn-dark" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        @*<hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>*@


        @*Phone Numbers can used as a second factor of verification in a two-factor authentication system.

            See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

            Uncomment the following block after you have set up two-factor authentication*@

        @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@

        @*<dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>*@

        @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }*@


        </dd>
        </dl>
    </div>
</main>